<div class="h-full overflow-y-auto">
    <section
        class="w-full h-11 px-6 py-3 flex justify-between items-center bg-base-100 z-10 border-b border-solid border-base-200 sticky top-0">
        <h4 class="text-2xl font-semibold">Zolo</h4>
        <div>
            <button routerLink="/notifications" class="mx-4">
                <lucide-icon size="24" [name]="likeIcon"></lucide-icon>
            </button>
            <button routerLink="/chats">
                <lucide-icon size="24" [name]="messageIcon"></lucide-icon>
            </button>
        </div>
    </section>

    <section>
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
    </section>
    <app-bottom-navbar></app-bottom-navbar>
</div>