<div class="btm-nav border-t border-solid border-slate-500/15">
    <button routerLink="" routerLinkActive="text-primary">
        <lucide-icon size="28" [name]="houseIcon"></lucide-icon>
    </button>
    <button routerLink="/feed" routerLinkActive="text-primary">
        <lucide-icon size="28" [name]="searchIcon"></lucide-icon>
    </button>
    <button routerLink="/post" routerLinkActive="text-primary">
        <lucide-icon size="28" [name]="circlePlusIcon"></lucide-icon>
    </button>
    <button routerLink="/reels" routerLinkActive="text-primary">
        <lucide-icon size="28" [name]="squarePlayIcon"></lucide-icon>
    </button>
    <button routerLink="/user" routerLinkActive="text-primary">
        <lucide-icon size="28" [name]="userIcon"></lucide-icon>
    </button>
</div>